.wrapper {
    font-family: Arial, sans-serif;
    margin: 20px;
    min-width: 400px;
    max-width: 600px;
}

.upload-wrapper {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -33%); 
    width: auto; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    background: #fff; 
    border-radius: 8px; 
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

#detailsHeader {
    text-align: left; 
}

.progress {
    text-align: right;
    font-size: 14px;
    height: auto;
    color: red;
}


h1, h2 {
    color: #333; 
}

#mainHeader, #currentSite {
    text-transform: capitalize; 
}

button:hover {
    background-color: #0056a3; 
}

button {
    background-color: #0078D7; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding: 0; 
}
.button-group {
    display: flex;
    gap: 5px;
}

.flush-input input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none; 
    margin: 0; 
}

.flush-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 5px;
}

.input-button-group { 
    display: flex;
    align-items: center;
    gap: 0; 
}

.input-button-group button:hover {
    background-color: #0056a3; 
}

.input-button-group input,
.input-button-group button {
    flex-grow: 1; 
}

.input-button-group input {
    flex-grow: 1; 
    margin: 0; 
    border-radius: 5px 0 0 5px; 
    border: 1px solid #ccc; 
    border-right: none; 
}

.input-button-group button {
    padding: 10px 12px; 
    border-radius: 0 5px 5px 0; 
    border: 1px solid #ccc; 
    border-left: none; 
    background-color: #0078D7; 
    color: white; 
    font-size: 14px; 
    cursor: pointer; 
}

.image-button.span {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    text-align: center; 
    width: 100%; 
    padding: 10px; 
    position: relative; 
}

.image-button.inline {
    padding: 5px; 
    margin: 0; 
    height: 30px; 
    width: 30px; 
}

.image-button img {
    width: 20px; 
    height: auto; 
}

.image-button.span img {
    position: absolute; 
    right: 5px; 
    height: auto; 
    width: 20px; 
}

.delete-button {
    padding: 5px;
    margin: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: red;
}

.delete-button:hover {
    background-color: red;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0f0f0; 
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    cursor: pointer;
}

li:hover {
    background-color: #e0e0e0; 
}

input[type="text"] {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
